<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Simon</title>
</head>

<body>

    <div id="gameboard" v-cloak>

        <table>
            <tr>
                <td v-on:click="button('red')"  v-bind:class="currentColor" class="red-button" ></td>
                <td v-on:click="button('yellow')" v-bind:class="currentColor" class="yellow-button" ></td>
            </tr>
            <tr>
                <td v-on:click="button('green')" v-bind:class="currentColor" class="green-button"></td>
                <td v-on:click="button('blue')" v-bind:class="currentColor" class="blue-button"></td>
            </tr>
        </table>

        <div v-on:click="start" id="startbutton">SIMON
            <div v-if="!gameInProgress">click to play</div>
        </div>

        <p>Level: {{ sequence.length }}</p>

        <p v-if="timerActive">{{ displayTimer }}</p>

        <p v-if="gameLost">Game Over</p>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
