@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  background: black;
  color: white;
  font-family: 'Press Start 2P', Helvetica, Arial, sans-serif;
  text-align: center;
}

[v-cloak] {
  display:none;
}

.red-button, .blue-button, .yellow-button, .green-button {
    opacity: 0.5;
    width: 50%;
}

.red-button.red,
.blue-button.blue,
.yellow-button.yellow,
.green-button.green {
    opacity: 1;
}

.red-button {
    background-color: red;
    border-radius: 100% 0 0 0;
}

.yellow-button {
    background-color: yellow;
    border-radius: 0 100% 0 0;
}

.green-button {
    background-color: green;
    border-radius: 0 0 0 100%;
}

.blue-button {
    background-color: blue;
    border-radius: 0 0 100% 0;
}

table {
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 20px;
    margin: 50px 0;
}

td {
    border: 2px solid black;
}

#gameboard {
    position: relative;
    width: 500px;
    margin: auto;
}

#startbutton {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 125px;
    left: 125px;
    border-radius: 100%;
    background-color: black;
    color: white;
    line-height: 250px;
    cursor: default;
    font-weight: bold;
    font-size: 40px;
    overflow: hidden;
}

#startbutton:active {
    background-color: grey;
}

#startbutton div {
    position: relative;
    top: -90px;
    line-height: initial;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.game-message {
    font-size: 40px;
    margin: 0;
}
